@model IEnumerable<ReserveSystem.Models.Stock>

@{
    ViewData["Title"] = "Stock";
}

<style>
    .table th, .table td {
        text-align: center;
    }

    .table th {
        background-color: #007bff;
        color: white;
    }

    .btn-custom {
        background-color: #28a745;
        color: white;
    }

        .btn-custom:hover {
            background-color: #218838;
        }

    .btn-edit, .btn-details, .btn-delete {
        margin: 0 5px;
    }
</style>

<div class="container mt-4">
    <h1 class="text-center text-primary">Stock</h1>

    <div class="d-flex justify-content-between mb-3">
        <a class="btn btn-primary" asp-action="Create">Adicionar Novo Stock</a>
    </div>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Ingrediente</th>
                <th>Quantidade Disponível</th>
                <th>Data da Última Atualização</th>
                <th>Opções</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Ingredient.Name</td>
                    @*Adiciona também as unidades correspondentes ao ingrediente*@
                    <td>@item.AvailableQuantity @item.Ingredient.UnityMeasure</td>
                    <td>@item.LastModificationDate.ToShortDateString()</td>
                    <td>
                        <a class="btn btn-sm btn-info btn-edit" asp-action="Edit" asp-route-id="@item.StockID">Editar</a>
                        <a class="btn btn-sm btn-primary btn-details" asp-action="Details" asp-route-id="@item.StockID">Detalhes</a>
                        <a class="btn btn-sm btn-danger btn-delete" asp-action="Delete" asp-route-id="@item.StockID">Excluir</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
