@model ReserveSystem.Models.TipoSala
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Room Type Details";
}

<h1>Room Type Details</h1>

<div>
    <dl class="row">
        <dt class="col-sm-3">Room ID</dt>
        <dd class="col-sm-9">@Model.IdTipoSala</dd>

        <dt class="col-sm-3">Room Name</dt>
        <dd class="col-sm-9">@Model.NomeSala</dd>

        <dt class="col-sm-3">Room Size (m²)</dt>
        <dd class="col-sm-9">@Model.TamanhoSala</dd>

        <dt class="col-sm-3">Capacity</dt>
        <dd class="col-sm-9">@Model.Capacidade</dd>

        <dt class="col-sm-3">Hourly Price</dt>
        <dd class="col-sm-9">@Model.PreçoHora.ToString("C", new System.Globalization.CultureInfo("en-IE"))</dd>
    </dl>
</div>

<p>
    @if (User.IsInRole("Manager"))
    {
        <a asp-action="Edit" asp-route-id="@Model.IdTipoSala" class="btn btn-primary">Edit</a>
    }
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</p>
