@model IEnumerable<ReserveSystem.Models.TipoSala>

@{
    ViewData["Title"] = "Tipo Salas";
}

<h1>Tipo Salas</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
    <tr>
        <th>@Html.DisplayNameFor(model => model.NomeSala)</th>
        <th>@Html.DisplayNameFor(model => model.TamanhoSala)</th>
        <th>@Html.DisplayNameFor(model => model.Capacidade)</th>
        <th>@Html.DisplayNameFor(model => model.PreçoHora)</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.NomeSala)</td>
            <td>@Html.DisplayFor(modelItem => item.TamanhoSala)</td>
            <td>@Html.DisplayFor(modelItem => item.Capacidade)</td>
            <td>@Html.DisplayFor(modelItem => item.PreçoHora)</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdTipoSala">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdTipoSala">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdTipoSala">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>