@model ReserveSystem.Models.ClientViewModel

@{
    ViewData["Title"] = "List of Clients";
}
@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success alert-dismissible fade show text-center" role="alert">
        <i class="bi bi-check-circle"></i> @TempData["MensagemSucesso"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}


<h1>List of Clients</h1>



<div>
    <a asp-action="Create" class="btn btn-success">Create New</a>
    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#searchModal">
        Search
    </button>
    @if (Model.PesquisarEmail != "" || Model.PesquisarNIF != "")
    {
        <a asp-action="Index" class="btn btn-outline-danger">Clear search</a>
    }
</div>

<!-- Search Modal -->
<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Search</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-action="Index" method="get">
                <div class="modal-body">
                    <div class="form-group">
                        <label asp-for="PesquisarEmail" class="control-label">Email</label>
                        <input name="pesquisarEmail" class="form-control" type="search" value="@Model.PesquisarEmail" />
                    </div>
                    <div class="form-group">
                        <label asp-for="PesquisarNIF" class="control-label">NIF</label>
                        <input name="pesquisarNIF" class="form-control" type="search" value="@Model.PesquisarNIF" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </form>
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClientModels.First().NomeCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientModels.First().MoradaCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientModels.First().Email)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.ClientModels.First().Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientModels.First().NIF)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ClientModels) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoradaCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
           @*  <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NIF)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ClienteId" class="btn btn-primary ">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ClienteId" class="btn btn-warning ">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ClienteId" class="btn btn-danger ">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<nav aria-label="booksPagination">
    <ul class="pagination">
        @{
            var cssStyle = "page-item";
            if (Model.paginacao.PaginaCorrente == 1)
            {
                cssStyle += " disabled";
            }
        }
        <li class="@cssStyle">
            <a class="page-link"
               asp-action="Index"
               asp-route-pagina="1"
               asp-route-pesquisarEmail="@Model.PesquisarEmail"
               asp-route-pesquisarNIF="@Model.PesquisarNIF">Primeira</a>
        </li>

        @for (int p = Model.paginacao.PrimeiraPaginaVer; p <= Model.paginacao.UltimaPaginaVer; p++)
        {
            cssStyle = "page-item";
            if (p == Model.paginacao.PaginaCorrente)
            {
                cssStyle += " active";
            }

            <li class="@cssStyle">
                <a class="page-link"
                   asp-action="Index"
                   asp-route-pagina="@p"
                   asp-route-pesquisarEmail="@Model.PesquisarEmail"
                   asp-route-pesquisarNIF="@Model.PesquisarNIF">@p</a>
            </li>
        }

        @{
            cssStyle = "page-item";
            if (Model.paginacao.PaginaCorrente == Model.paginacao.PaginaTotal)
            {
                cssStyle += " disabled";
            }
        }
        <li class="@cssStyle">
            <a class="page-link"
               asp-action="Index"
               asp-route-pagina="@Model.paginacao.PaginaTotal"
               asp-route-pesquisarEmail="@Model.PesquisarEmail"
               asp-route-pesquisarNIF="@Model.PesquisarNIF">Ultima</a>
        </li>
    </ul>
</nav>
