@model IEnumerable<ReserveSystem.Models.TypeOfSchedule>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>

<div class="row">
    @foreach (var item in Model)
    {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.TypeOfScheduleName)</h5>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.TypeOfScheduleDescription)</p>
                        <a href="@Url.Action("Edit", "TypeOfSchedule", new { id = item.TypeOfScheduleId })" class="btn btn-warning">Edit</a>
                        <a href="@Url.Action("Details", "TypeOfSchedule", new { id = item.TypeOfScheduleId })" class="btn btn-info">Details</a>
                        <a href="@Url.Action("Delete", "TypeOfSchedule", new { id = item.TypeOfScheduleId })" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
    }
</div>
