@model IEnumerable<ReserveSystem.Models.MotoristaTransporte>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center my-4">MotoristaTransporte List</h1>

<div class="container">
    <div class="row justify-content-between align-items-center">
        <div class="col-auto">
            <a asp-action="Create" class="btn btn-success mb-3">Create New</a>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover text-center">
            <thead class="table-dark">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Staff)</th>
                    <th>@Html.DisplayNameFor(model => model.Transporte)</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Staff.Staff_Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Transporte.TipoTransporte)</td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.MotoristaTransporteId" class="btn btn-warning btn-sm">Edit</a>
                            <a asp-action="Details" asp-route-id="@item.MotoristaTransporteId" class="btn btn-info btn-sm text-white">Details</a>
                            <a asp-action="Delete" asp-route-id="@item.MotoristaTransporteId" class="btn btn-danger btn-sm">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
