@model ReserveSystem.Models.Transporte

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <h1 class="text-center my-4">Transporte</h1>

    <div class="card shadow-sm">
        <div class="card-body">
            <h4 class="card-title text-center">Detalhes</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-4 text-end fw-bold">
                    @Html.DisplayNameFor(model => model.Matricula)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Matricula)
                </dd>
                <dt class="col-sm-4 text-end fw-bold">
                    @Html.DisplayNameFor(model => model.Capacidade)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Capacidade)
                </dd>
                <dt class="col-sm-4 text-end fw-bold">
                    @Html.DisplayNameFor(model => model.TipoTransporte)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.TipoTransporte)
                </dd>
                <dt class="col-sm-4 text-end fw-bold">
                    @Html.DisplayNameFor(model => model.AnoFabricacao)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.AnoFabricacao)
                </dd>
                <dt class="col-sm-4 text-end fw-bold">
                    @Html.DisplayNameFor(model => model.DescricaoTipoTransporte)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.DescricaoTipoTransporte)
                </dd>
            </dl>
        </div>
        <div class="card-footer text-center">
            <a asp-action="Edit" asp-route-id="@Model?.TransporteId" class="btn btn-warning">Editar</a>
            <a asp-action="Index" class="btn btn-secondary">Voltar</a>
        </div>
    </div>
</div>
