@model ReserveSystem.Models.Reservation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Reserva</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CheckInDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CheckInDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CheckOutDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CheckOutDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReservationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReservationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPeople)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalPeople)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ReservationId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
