@model ReserveSystem.Models.ReservaModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Reserva</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CHECKIN_DATE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CHECKIN_DATE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CHECKOUT_DATE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CHECKOUT_DATE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BOOKING_DATE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BOOKING_DATE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BOOKED)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BOOKED)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PAYMENT_STATUS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PAYMENT_STATUS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TOTAL_PERSONS_NUMBER)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TOTAL_PERSONS_NUMBER)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID_BOOKING">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
