@model IEnumerable<ReserveSystem.Models.Reserva>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroMesa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroPessoas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataHora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPrato)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroMesa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroPessoas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataHora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPrato)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.IdReserva" class="btn btn-warning">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IdReserva" class="btn btn-info">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdReserva" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
