@model IEnumerable<ReserveSystem.Models.ReservaModel>

@{
    ViewData["Title"] = "Index";
}

<h1>LISTA DE RESERVAS</h1>

<button type="button" class="btn btn-success">
    <a asp-action="Create">Fazer reserva</a>
</button>

<button type="button" class="btn btn-danger">
    <a asp-action="Edit">Alterar reserva</a>
</button>

<button type="button" class="btn btn-warning">
    <a asp-action="Delete">Eliminar reserva</a>
</button>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataCheckIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataCheckOut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataReserva)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoPagamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroPessoas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataCheckIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataCheckOut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataReserva)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoPagamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroPessoas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ReservaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ReservaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ReservaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
