@model IEnumerable<ReserveSystem.Models.PrecarioModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th>
                Data Preço
            </th>
            <th>
                Titulo
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data_Inicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Excursao.Titulo)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.PrecoId">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
