@model ReserveSystem.Models.RoomServiceBooking

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RoomServiceBooking</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoomServiceId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoomServiceId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StaffId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StaffId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoomId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoomId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsReserved)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsReserved)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StaffConfirmation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StaffConfirmation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientFeedback)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientFeedback)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmountToPay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmountToPay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentMade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentMade)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.RoomServiceBookingId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
