@model ReserveSystem.Models.Consumptions

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Consumptions</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.itemRoom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.itemRoom.ItemRoomId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantityConsumed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantityConsumed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConsumedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConsumedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.client)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.client.ClientId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ConsumptionsId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
