@model IEnumerable<ReserveSystem.Models.Consumptions>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.itemRoom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantityConsumed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConsumedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.client)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.itemRoom.ItemRoomId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityConsumed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConsumedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.client.ClientId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ConsumptionsId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ConsumptionsId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ConsumptionsId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
