@model ReserveSystem.Models.Schedule


<h1>Details</h1>

<div>
    <h4>Schedule</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.Staff_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Staff.Staff_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeOfShedule.TypeOfScheduleName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeOfShedule.TypeOfScheduleName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartShiftTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartShiftTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndShiftTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndShiftTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Presence)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Presence)
        </dd>
    </dl>
</div>
<div>

    <a asp-action="Edit" asp-route-id="@Model?.ScheduleId" class="btn btn-primary">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>


</div>
