@model IEnumerable<ReserveSystem.Models.Schedules>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Shift: @Html.DisplayFor(modelItem => item.StartShiftTime) - @Html.DisplayFor(modelItem => item.EndShiftTime)</h5>
                    <p class="card-text">
                        <strong>Presence:</strong> @Html.DisplayFor(modelItem => item.isPrecense) <br />
                        <strong>Available:</strong> @Html.DisplayFor(modelItem => item.isAvailable) <br />
                        <strong>Staff:</strong> @Html.DisplayFor(modelItem => item.staff.StaffName) <br />
                        <strong>Schedule Type:</strong> @Html.DisplayFor(modelItem => item.typeOfSchedule.TypeOfScheduleDescription)
                    </p>
                    <a href="@Url.Action("Edit", "Schedules", new { id = item.SchedulesId })" class="btn btn-warning">Edit</a>
                    <a href="@Url.Action("Details", "Schedules", new { id = item.SchedulesId })" class="btn btn-info">Details</a>
                    <a href="@Url.Action("Delete", "Schedules", new { id = item.SchedulesId })" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    }
</div>
