@model IEnumerable<ReserveSystem.Models.Client>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Client_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client_Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client_Adress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client_Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client_Nif)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client_Login)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client_Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Client_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client_Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client_Adress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client_Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client_Nif)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client_Login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client_Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ClientId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ClientId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ClientId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
