@model ReserveSystem.Models.Ingredient

@{
    ViewData["Title"] = "Delete";
}

<style>
    .delete-container {
        margin-top: 2rem;
    }

    .delete-header {
        color: #dc3545;
        text-align: center;
    }

    .delete-list dt {
        font-weight: bold;
        text-align: right;
    }

    .delete-list dd {
        text-align: left;
    }

    .btn-danger-custom {
        background-color: #dc3545;
        color: white;
    }

        .btn-danger-custom:hover {
            background-color: #c82333;
        }

    .btn-secondary {
        background-color: #6c757d;
        color: white;
    }

        .btn-secondary:hover {
            background-color: #5a6268;
        }
</style>

<div class="container delete-container">
    <h1 class="delete-header">Excluir Ingrediente</h1>
    <hr />
    <h3 class="text-center" style="font-size: medium">Tem certeza que deseja excluir este item?</h3>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <dl class="row delete-list">
                <dt class="col-sm-4">Nome</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Name)</dd>

                <dt class="col-sm-4">Unidade de Medida</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.UnityMeasure)</dd>

                <dt class="col-sm-4">Stock Mínimo</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.StockMin)</dd>

                <dt class="col-sm-4">Quantidade Disponível</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.QuantityAvailable)</dd>

                <dt class="col-sm-4">Última Modificação</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.LastModificationDate)</dd>
            </dl>
        </div>
    </div>
    <div class="d-flex justify-content-center mt-4">
        <form asp-action="Delete" class="me-2">
            <input type="hidden" asp-for="IngredientID" />
            <input type="submit" value="Excluir" class="btn btn-sm btn-danger-custom" />
        </form>
        <a class="btn btn-sm btn-secondary" asp-action="Index">Voltar à Lista</a>
    </div>
</div>
