@model IEnumerable<ReserveSystem.Models.Booking>

@{
    ViewData["Title"] = "ViewBookingLog";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID_Client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckinDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckoutDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPersonsNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Breakfast)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID_Client)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckinDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckoutDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPersonsNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Breakfast)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID_Booking">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID_Booking">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID_Booking">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
