@model IEnumerable<ReserveSystem.Models.TipoReserva>

@{
    ViewData["Title"] = "Reservation Type";
}

<h2>Reservation Type</h2>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["Message"] != null)
{
    <div class="alert alert-info">
        @TempData["Message"]
    </div>
}

<p>
    <a asp-action="Create" class="btn btn-primary">Create New Type Reservation</a>
</p>

<table class="table table-striped table-hover">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeReserva)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeReserva)
                </td>
                <td>
                    <div class="d-flex">
                        <a asp-action="Edit" asp-route-id="@item.idTipoReserva" class="btn btn-sm btn-primary me-2">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.idTipoReserva" class="btn btn-sm btn-warning me-2">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.idTipoReserva" class="btn btn-sm btn-danger">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>