@model ReserveSystem.Models.ReservaExcursaoModel


@{
    ViewData["Title"] = "Details";
}

<div class="container mt-5">
    <h1 class="text-primary text-center">Details</h1>

    <div class="card shadow mt-4">
        <div class="card-header bg-primary text-white">
            <h4>Excursão Details</h4>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3 font-weight-bold">@Html.DisplayNameFor(model => model.DataReserva)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.DataReserva)</dd>

                <dt class="col-sm-3 font-weight-bold">@Html.DisplayNameFor(model => model.NumPessoas)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.NumPessoas)</dd>

                <dt class="col-sm-3 font-weight-bold">@Html.DisplayNameFor(model => model.ValorTotal)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.ValorTotal)</dd>

                <dt class="col-sm-3 font-weight-bold">@Html.DisplayNameFor(model => model.Cliente)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Cliente.Nome)</dd>

                <dt class="col-sm-3 font-weight-bold">@Html.DisplayNameFor(model => model.Excursao)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Excursao.Titulo)</dd>

                
            </dl>
        </div>
        <div class="card-footer text-center">
            <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning me-2">Edit</a>
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
</div>
