

<link rel="stylesheet" href="~/css/ViewsGrupo10.css" />
@{
    ViewData["Title"] = "Reservas";
}
<div class="top-0 start-0 bg-cover position-absolute bgImage" style="background-image: url('/images/ReservaExcursao.jpg');">
    <div class="filter"></div>
</div>
<div class="container mt-4">
    @using (Html.BeginForm("Index", "ReservaExcursao", FormMethod.Get))
    {
        <div class="d-flex justify-content-between align-items-center mb-5">
            <h1 class="text-primary">@ViewData["Title"]</h1>
            <div class="d-flex justify-content-center w-50 mx-auto">
                <a asp-action="Index" class="btn btn-link ms-2" title="Limpar Filtro">
                    <i class="bi bi-x-circle" style="font-size: 1.5rem; color: #dc3545;"></i>
                </a>
                @Html.DropDownList("filterBy",
                         new SelectList(new[] {
            new { Value = "titulo", Text = "Título da Excursão" },
            new { Value = "cliente", Text = "Nome do Cliente" },
            new { Value = "data", Text = "Data da Reserva" }
            }, "Value", "Text", ViewBag.FilterBy),
                         new { @class = "form-select me-2 w-100", style = "max-width: 100%;" })
                <input type="text" class="form-control" name="searchString" placeholder="Pesquisar..." style="max-width: 200px;" value="@ViewBag.SearchString" />
                
                <button class="btn btn-primary ms-2" type="submit">Filtrar</button>
            </div>
            <a asp-action="Create" class="btn btn-success">Criar Nova</a>
        </div>
    }

    @if (ViewBag.ErrorMessage != null)
    {
        <div class="alert alert-danger mt-2">
            @ViewBag.ErrorMessage
        </div>
    }

    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success mt-2">
            @TempData["SuccessMessage"]
        </div>
    }
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger mt-2">
            @TempData["ErrorMessage"]
        </div>
    }

   


    @using (Html.BeginForm("BulkDelete", "ReservaExcursao", FormMethod.Post))
    {
        
            <div class="d-flex justify-content-between align-items-end ">
            <div class="d-flex justify-content-start mb-3" style="height:fit-content;">
                
                <a class="btn btn-primary me-3"  href="@Url.Action("Index", new { sortOrder = ViewBag.TituloSortParm })">
                        Titulo da Reserva
                        @if (ViewBag.CurrentSort == "Titulo")
                        {
                            <i class="bi bi-arrow-up"></i>
                        }
                        else
                        {
                            <i class="bi bi-arrow-down"></i>
                        }
                    </a>


                <a class="btn btn-primary me-3" href="@Url.Action("Index", new { sortOrder = ViewBag.DateSortParm })">
                    Data da Reserva
                    @if (ViewBag.CurrentSort == "Date")
                    {
                        <i class="bi bi-arrow-up"></i>
                    }
                    else
                    {
                        <i class="bi bi-arrow-down"></i>
                    }
                </a>
                <a class="btn btn-primary me-3" href="@Url.Action("Index", new { sortOrder = ViewBag.NameSortParm })">
                    Nome do Cliente
                    @if (ViewBag.CurrentSort == "Name_desc")
                    {
                        <i class="bi bi-arrow-down"></i>
                    }
                    else
                    {
                        <i class="bi bi-arrow-up"></i>
                    }
                </a>
                </div>
                <div class="text-end mb-3">
                    <button type="submit" class="btn btn-danger">
                        <i class="bi bi-trash" style="font-size: 1.5rem;" title="Eliminar Selecionados"></i>
                    </button>
                </div>
            </div>
           

            <div class="row">
                @foreach (var item in Model.Reservas)
                {
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <div class="d-flex align-items-center">
                                    <input type="checkbox" name="selectedIds" value="@item.Id" />
                                    <h5 class="card-title ms-3">@item.Excursao.Titulo</h5>
                                </div>
                                <a asp-action="Delete" asp-route-id="@item.Id">
                                    <i class="bi bi-trash text-danger" style="font-size: 1.5rem;" title="Eliminar"></i>
                                </a>
                            </div>
                            <div class="card-body">
                                <p class="card-text"><strong>Cliente:</strong> @item.Cliente.Nome</p>
                                <p class="card-text"><strong>Data da Reserva:</strong> @item.DataReserva.ToShortDateString()</p>
                                <p class="card-text"><strong>Número de Pessoas:</strong> @item.NumPessoas</p>
                                <p class="card-text"><strong>Valor Total:</strong> @item.ValorTotal.ToString("C")</p>
                            </div>
                            <div class="card-footer text-center">
                                <a asp-action="Edit" asp-route-id="@item.Id" class="mx-2 text-decoration-none">
                                    <i class="bi bi-pencil-fill text-primary" style="font-size: 1.5rem;" title="Editar"></i>
                                </a>
                                <a asp-action="Details" asp-route-id="@item.Id" class="mx-2 text-decoration-none">
                                    <i class="bi bi-info-circle-fill text-black" style="font-size: 1.5rem;" title="Detalhes"></i>
                                </a>
                                <a asp-action="Favorita" asp-route-id="@item.Id" class="mx-2 text-decoration-none">
                                    <i class="bi bi-star-fill text-warning" style="font-size: 1.5rem;" title="Favoritar"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        
        
    }

    <div class="pagination justify-content-center mt-4">
        <ul class="pagination">
            <!-- Botão para página anterior -->
            @if (Model.PagingInfo.CurrentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("Index", new { page = Model.PagingInfo.CurrentPage - 1, filterBy = Model.CurrentFilter, searchString = Model.SearchTitulo })">
                        <i class="bi bi-arrow-left"></i>
                    </a>
                </li>
            }

            <!-- Páginas -->
            @for (int i = Model.PagingInfo.FirstPageShow; i <= Model.PagingInfo.LastPageShow; i++)
            {
                <li class="page-item @(i == Model.PagingInfo.CurrentPage ? "active" : "")">
                    <a class="page-link" href="@Url.Action("Index", new { page = i, filterBy = Model.CurrentFilter, searchString = Model.SearchTitulo })">@i</a>
                </li>
            }

            <!-- Botão para próxima página -->
            @if (Model.PagingInfo.CurrentPage < Model.PagingInfo.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("Index", new { page = Model.PagingInfo.CurrentPage + 1, filterBy = Model.CurrentFilter, searchString = Model.SearchTitulo })">
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </li>
            }
        </ul>
    </div>
</div>
