@model ReserveSystem.Models.Sala

@{
    ViewData["Title"] = "Delete Sala";
}

<h1>Delete Sala</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <dl class="row">
        <dt>@Html.DisplayNameFor(model => model.TempoPreparação)</dt>
        <dd>@Html.DisplayFor(model => model.TempoPreparação)</dd>
        <dt>@Html.DisplayNameFor(model => model.HoraInicio)</dt>
        <dd>@Html.DisplayFor(model => model.HoraInicio)</dd>
        <dt>@Html.DisplayNameFor(model => model.HoraFim)</dt>
        <dd>@Html.DisplayFor(model => model.HoraFim)</dd>
        <dt>@Html.DisplayNameFor(model => model.TipoSala.NomeSala)</dt>
        <dd>@Html.DisplayFor(model => model.TipoSala.NomeSala)</dd>
    </dl>
</div>

<form asp-action="Delete">
    <input type="hidden" asp-for="IdSala" />
    <input type="submit" value="Delete" class="btn btn-danger" /> |
    <a asp-action="Index">Back to List</a>
</form>