@model ReserveSystem.Models.Sala

<h1>Details of Sala</h1>
<table class="table">
    <tr>
        <th>Id:</th>
        <td>@Model.IdSala</td>
    </tr>
    <tr>
        <th>Hora Inicio:</th>
        <td>@Model.HoraInicio</td>
    </tr>
    <tr>
        <th>Hora Fim:</th>
        <td>@Model.HoraFim</td>
    </tr>
    <tr>
        <th>Tipo Sala:</th>
        <td>@Model.TipoSala?.NomeAvaria ?? "Unassigned"</td>
    </tr>
</table>
<a asp-action="Index" class="btn btn-secondary">Back to List</a>
<a asp-action="Edit" asp-route-id="@Model.IdSala" class="btn btn-warning">Edit</a>
<a asp-action="Delete" asp-route-id="@Model.IdSala" class="btn btn-danger">Delete</a>