@model ReserveSystem.Models.Sala

@{
ViewData["Title"] = "Sala Details";
}

<h1>Sala Details</h1>

<div>
    <dl class="row">
        <dt>@Html.DisplayNameFor(model => model.TempoPreparação)</dt>
        <dd>@Html.DisplayFor(model => model.TempoPreparação)</dd>
        <dt>@Html.DisplayNameFor(model => model.HoraInicio)</dt>
        <dd>@Html.DisplayFor(model => model.HoraInicio)</dd>
        <dt>@Html.DisplayNameFor(model => model.HoraFim)</dt>
        <dd>@Html.DisplayFor(model => model.HoraFim)</dd>
        <dt>@Html.DisplayNameFor(model => model.TipoSala.NomeSala)</dt>
        <dd>@Html.DisplayFor(model => model.TipoSala.NomeSala)</dd>
    </dl>
</div>

<p>
    <a asp-action="Edit" asp-route-id="@Model.IdSala">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
