@model ReserveSystem.Models.Sala

<h1>Room Details</h1>
<table class="table">
    <tr>
        <th>Start Time:</th>
        <td>@Model.HoraInicio</td>
    </tr>
    <tr>
        <th>End Time:</th>
        <td>@Model.HoraFim</td>
    </tr>
    <tr>
        <th>Room Type:</th>
        <td>@Model.TipoSala?.NomeSala ?? "Unassigned"</td>
    </tr>
</table>
<a asp-action="Index" class="btn btn-secondary">Back to List</a>
<a asp-action="Edit" asp-route-id="@Model.IdSala" class="btn btn-warning">Edit</a>
<a asp-action="Delete" asp-route-id="@Model.IdSala" class="btn btn-danger">Delete</a>