@model IEnumerable<ReserveSystem.Models.Sala>

@{
ViewData["Title"] = "Salas";
}

<h1>Salas</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>@Html.DisplayNameFor(model => model.TempoPreparação)</th>
        <th>@Html.DisplayNameFor(model => model.HoraInicio)</th>
        <th>@Html.DisplayNameFor(model => model.HoraFim)</th>
        <th>@Html.DisplayNameFor(model => model.TipoSala.NomeSala)</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
    <tr>
        <td>@Html.DisplayFor(modelItem => item.TempoPreparação)</td>
        <td>@Html.DisplayFor(modelItem => item.HoraInicio)</td>
        <td>@Html.DisplayFor(modelItem => item.HoraFim)</td>
        <td>@Html.DisplayFor(modelItem => item.TipoSala.NomeSala)</td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.IdSala">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.IdSala">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.IdSala">Delete</a>
        </td>
    </tr>
    }
    </tbody>
</table>
