@model ReserveSystem.Models.Cleaning_Schedule

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Cleaning_Schedule</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoomBookingId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoomBookingId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.client)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.client.Client_Adress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.staffMembers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.staffMembers.StaffDriversLicense)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateServices)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateServices)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CleaningDone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CleaningDone)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CleaningScheduleId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
