@model ReserveSystem.Models.ReservaModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ReservaModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoReserva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoReserva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataReserva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataReserva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataFim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataFim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Partcipantes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Partcipantes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecoTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecoTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClienteId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClienteId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ReservaID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
