@model IEnumerable<ReserveSystem.Models.ReservaModel>


@{
    ViewData["Title"] = "Agendamentos de Treino";
}

<h1 class="text-center my-4">Agendamentos de Treino</h1>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Dia</th>
            <th>Horário</th>
            <th>Personal Trainer</th>
            <th>Cliente</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                    <!-- Exibe apenas o dia formatado -->
                    <td>@item.ReservationDate.ToString("dd/MM/yyyy")</td>

                    <!-- Exibe o horário de início e término -->
                    <td>@item.StartTime.ToString(@"hh\:mm") - @item.EndTime.ToString(@"hh\:mm")</td>
                <td>@item.PersonalTrainer.Name</td>
                <td>@item.Client.Name</td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">
                        <i class="fa fa-trash-alt"></i> Eliminar
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-primary">Adicionar Novo Agendamento</a>
