@model IEnumerable<ReserveSystem.Models.Reserva>

@{
    ViewData["Title"] = "Reservations";
}

<h1 class="mb-4">Reservations</h1>

<div class="mb-3">
    <a asp-action="Create" class="btn btn-primary">Create New Reservation</a>
</div>

<table class="table table-bordered table-hover">
    <thead class="table-dark">
        <tr>
            <th>IdCliente</th>
            <th>TipoReserva</th>
            <th>DataInicio</th>
            <th>DataFim</th>
            <th>DataReserva</th>
            <th>TotalParticipantes</th>
            <th>PrecoTotal</th>
            <th>Estado</th>
            <th>DataEstado</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.NumeroCliente</td>
                <td>@item.TipoReserva?.NomeReserva</td>
              
                <td>@item.DataInicio.ToString("dd/MM/yyyy HH:mm")</td>
                <td>@item.DataFim.ToString("dd/MM/yyyy HH:mm")</td>
                <td>@item.DataReserva.ToString("dd/MM/yyyy HH:mm")</td>
                <td>@item.TotalParticipantes</td>
                <td>@item.PrecoTotal</td>
                <td>@item.Estado</td>
                <td>@item.DataEstado.ToString("dd/MM/yyyy HH:mm")</td>
                <td>
                    <div class="d-flex">
                      
                        <a asp-action="Edit" asp-route-id="@item.IdReserva" class="btn btn-sm btn-primary me-2">Edit</a>
                     
                        <a asp-action="Details" asp-route-id="@item.IdReserva" class="btn btn-sm btn-warning me-2">Details</a>
                      
                        <a asp-action="Delete" asp-route-id="@item.IdReserva" class="btn btn-sm btn-danger">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

