@model ReserveSystem.Models.PrecoTipoQuarto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PrecoTipoQuarto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.quantidadeQuartos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.quantidadeQuartos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.capacidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.capacidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecoBase)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecoBase)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.taxaCancelamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.taxaCancelamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.taxaAdiconal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.taxaAdiconal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.numeroReserva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.numeroReserva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dataCheckIn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dataCheckIn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dataCheckOut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dataCheckOut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dataReserva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dataReserva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dataCancelamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dataCancelamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cancelamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cancelamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoPagamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoPagamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroPessoas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroPessoas)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.precotq_id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
