@model ReserveSystem.Models.PrecoTipoQuarto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PrecoTipoQuarto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.quantidadeQuartos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.quantidadeQuartos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.capacidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.capacidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecoBase)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecoBase)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.taxaCancelamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.taxaCancelamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.camaAdiconal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.camaAdiconal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuartoAdaptado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuartoAdaptado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vista)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vista)
        </dd>
        
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TipoQuartoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
