@model IEnumerable<ReserveSystem.Models.RoomService>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Job_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room_Service_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room_Service_Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room_Service_Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room_Service_Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room_Service_Limit_Hour)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Job_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Room_Service_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Room_Service_Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Room_Service_Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Room_Service_Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Room_Service_Limit_Hour)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID_RoomService">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID_RoomService">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID_RoomService">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
