@model IEnumerable<ReserveSystem.Models.Job>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.JobName)</h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.JobDescription)</p>
                    <a href="@Url.Action("Edit", "Job", new { id = item.JobId })" class="btn btn-warning">Edit</a>
                    <a href="@Url.Action("Details", "Job", new { id = item.JobId })" class="btn btn-info">Details</a>
                    <a href="@Url.Action("Delete", "Job", new { id = item.JobId })" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    }
</div>
