@model ReserveSystem.Models.RoomServiceViewModel

@{
    ViewData["Title"] = "Room Service Bookings";
}

<!-- Cards Grid -->
<div class="container">
    <!-- Top Controls and Pagination -->
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 mb-4">
        <div class="col d-flex justify-content-start align-items-center">
            <a asp-action="Create" class="btn btn-outline-success" aria-label="Create New Booking">Create New</a>
        </div>
        <div class="col d-flex gap-2 justify-content-center align-items-center">
            <form asp-controller="RoomServiceBooking" asp-action="Index" method="get" class="d-flex gap-2">
                <label for="SearchInt" class="p-2">Search by Booking ID:</label>
                <input type="number" class="form-control" id="SearchInt" name="SearchInt" value="0"
                    style="width: 4rem;">
                <select asp-for="RoomServiceId" asp-items="Model.RoomServicesIds" class="form-select">
                    <option value="">All Room Service ID's</option>
                </select>
                <input type="submit" value="Filter" class="btn btn-outline-success" aria-label="Filter">
            </form>
        </div>
        <nav aria-label="Room Service Bookings Pagination" class="col d-flex justify-content-end align-items-center">
            <ul class="pagination mb-0">
                @{
                    var style = "page-item";
                    style += Model.PagingInfo?.CurrentPage == 1 ? " disabled" : "";
                }

                <li class="@style">
                    <a class="page-link" asp-action="Index" asp-route-page="1" aria-label="First">First</a>
                </li>
                @if (Model.PagingInfo != null)
                {
                    @for (int i = Model.PagingInfo.StartPage; i <= Model.PagingInfo.EndPage; i++)
                    {
                        style = "page-item";
                        if (i == Model.PagingInfo.CurrentPage)
                        {
                            style += " active";
                        }

                        <li class="@style">
                            <a class="page-link" asp-action="Index" asp-route-page="@i">@i</a>
                        </li>
                    }
                    style = "page-item";
                    style += Model.PagingInfo.CurrentPage == Model.PagingInfo.TotalPages ? " disabled" : "";

                    <li class="@style">
                        <a class="page-link" asp-action="Index" asp-route-page="@Model.PagingInfo.TotalPages"
                            aria-label="Last">Last</a>
                    </li>
                }
            </ul>
        </nav>
    </div>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        @foreach (var item in Model.RoomServiceBookings!)
        {
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Booking ID: @item.Id</h5>
                        <p class="card-text"><strong>Room Service ID:</strong> @item.RoomServiceId</p>
                        <p class="card-text"><strong>Staff ID:</strong> @item.StaffId</p>
                        <p class="card-text"><strong>Client ID:</strong> @item.ClientId</p>
                        <p class="card-text"><strong>Room ID:</strong> @item.RoomId</p>
                        <p class="card-text"><strong>Date & Time:</strong> @item.DateTime</p>
                        <p class="card-text"><strong>Start Date:</strong> @item.StartDate</p>
                        <p class="card-text"><strong>End Date:</strong> @item.EndDate</p>
                        <p class="card-text"><strong>Booked State:</strong> @item.BookedState</p>
                        <p class="card-text"><strong>Staff Confirmation:</strong> @item.StaffConfirmation</p>
                        <p class="card-text"><strong>Client Feedback:</strong> @item.ClientFeedback</p>
                        <p class="card-text"><strong>Price:</strong> @item.ValueToPay.ToString("C", new
                        System.Globalization.CultureInfo("pt-PT"))</p>
                        <p class="card-text"><strong>Payment Done:</strong> @item.PaymentDone</p>
                    </div>
                    <div class="card-footer">
                        <div class="btn-group" role="group" aria-label="Actions">
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info rounded mx-2"
                                aria-label="View Booking Details">Details</a>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-warning rounded mx-2"
                                aria-label="Edit Booking">Edit</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger rounded mx-2"
                                aria-label="Delete Booking">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>