@model IEnumerable<ReserveSystem.Models.RoomServicePrice>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoomService)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Start_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.End_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room_Service_Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoomService.Room_Service_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Start_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.End_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Room_Service_Price)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID_Room_Service_Price">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID_Room_Service_Price">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID_Room_Service_Price">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
