@model ReserveSystem.Models.RoomServicesBooking

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RoomServicesBooking</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookedState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookedState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StaffConfirmation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StaffConfirmation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientFeedback)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientFeedback)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmountToPay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmountToPay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentMade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentMade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoomService)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoomService.RoomServiceID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Staff)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Staff.StaffID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Client.ClientID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Room)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Room.RoomID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.RoomServicesBookingID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
