@model ReserveSystem.Models.ItemRoom

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ItemRoom</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvailableQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvailableQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastRestockedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastRestockedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.roomBooking)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.roomBooking.RoomBookingId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.item)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.item.ItemsId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ItemRoomId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
