@model IEnumerable<ReserveSystem.Models.RoomType>

@{
    ViewData["Title"] = "Index";
}


<h1 style="width: 100%; font-family: 'Arial Rounded MT';">Escolha o seu quarto</h1>

<br>
<br />

<table class="table text-center" style="width: 100%; font-family: 'Arial Rounded MT';">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomCapacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HasView)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcessibilityRoom)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomCapacity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HasView)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AcessibilityRoom)
                </td>
                <td>
                    <a asp-controller="Reservas" asp-action="Create" asp-route-id="@item.RoomTypeId" class="btn btn-primary" style="background-color: #6f42c1; border-color: #6f42c1;">
                        <i class="bi bi-journal-plus"></i> Adicionar a reserva
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
 </tbody>
