@model IEnumerable<ReserveSystem.Models.RoomServicesBooking>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoomService)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Staff)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookedState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StaffConfirmation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientFeedback)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountToPay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentMade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoomService.RoomServiceId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Staff.StaffId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.ClientId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Room.RoomId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookedState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StaffConfirmation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientFeedback)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountToPay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentMade)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RoomServiceBookingId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RoomServiceBookingId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RoomServiceBookingId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
