@model ReserveSystem.Models.Item_Room

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Item_Room</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoomTypeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoomTypeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoomQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoomQuantity)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ItemRoomId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
