@model ReserveSystem.Models.StaffModel

@{
    ViewData["Title"] = "Edit";
    var grades = ViewBag.DrivingLicenseGrades as List<string>;
}

<h1>Edit</h1>

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Staff_Id" />

            <!-- Primeira linha de colunas -->
            <div class="row">
                <!-- Coluna 1 -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Staff_Name" class="control-label">Name</label>
                        <input asp-for="Staff_Name" class="form-control" />
                        <span asp-validation-for="Staff_Name" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="BirthDate" class="control-label">Birth Date</label>
                        <input asp-for="BirthDate" class="form-control" type="date" />
                        <span asp-validation-for="BirthDate" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Staff_Email" class="control-label">Email</label>
                        <input asp-for="Staff_Email" class="form-control" />
                        <span asp-validation-for="Staff_Email" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Staff_Phone" class="control-label">Phone</label>
                        <input asp-for="Staff_Phone" class="form-control" />
                        <span asp-validation-for="Staff_Phone" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Staff_Password" class="control-label">Password</label>
                        <div class="input-group">
                            <input asp-for="Staff_Password" class="form-control" type="password" id="Staff_Password" />
                            <span class="input-group-text" onclick="togglePasswordVisibility()" style="cursor: pointer;">
                                <i class="fas fa-eye" id="togglePasswordIcon"></i>
                            </span>
                        </div>
                        <span asp-validation-for="Staff_Password" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="jobID_FK" class="control-label">Job</label>
                        <select asp-for="jobID_FK" class="form-control" asp-items="@(ViewData["jobID_FK"] as SelectList)"></select>
                        <span asp-validation-for="jobID_FK" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="StartFunctionsDate" class="control-label">StartFunctionsDate</label>
                        <input asp-for="StartFunctionsDate" class="form-control" type="date" value="@Model.StartFunctionsDate.ToString("dd/MM/yyyy")" />
                        <span asp-validation-for="BirthDate" class="text-danger"></span>
                    </div>
                </div>

                <!-- Coluna 2 -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="EndFunctionsDate" class="control-label">EndFunctionsDate</label>
                        <input asp-for="EndFunctionsDate" class="form-control" type="date" value="@Model.EndFunctionsDate.ToString("dd/MM/yyyy")" />
                        <span asp-validation-for="BirthDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Driving License Grades</label>
                        @if (ViewBag.DrivingLicenseGrades != null)
                        {
                            for (int i = 0; i < grades.Count; i++)
                            {
                                bool isChecked = Model.DrivingLicenseGrades != null && Model.DrivingLicenseGrades.Contains(grades[i]);

                                        <div class="form-check">
                                            <input type="checkbox"
                                                   name="DrivingLicenseGrades"
                                                   value="@grades[i]"
                                                   class="form-check-input"
                                                   id="grade_@i"
                                    @(isChecked ? "checked" : "") />
                                            <label class="form-check-label" for="grade_@i">@grades[i]</label>
                                        </div>
                            }
                        }
                        else
                        {
                                <p>Grades não disponíveis.</p>
                        }
                    </div>

                    <div class="form-group">
                        <label asp-for="DriverLicenseExpirationDate" class="control-label">Driver License Expiration Date</label>
                        <input asp-for="DriverLicenseExpirationDate" class="form-control" type="date" />
                        <span asp-validation-for="DriverLicenseExpirationDate" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="DaysOffVacationCount" class="control-label">DaysOffVacationCount</label>
                        <input asp-for="DaysOffVacationCount" class="form-control" />
                        <span asp-validation-for="DaysOffVacationCount" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <!-- Botão de envio -->
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        function togglePasswordVisibility() {
            const passwordInput = document.getElementById('Staff_Password');
            const toggleIcon = document.getElementById('togglePasswordIcon');

            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                toggleIcon.classList.remove('fa-eye');
                toggleIcon.classList.add('fa-eye-slash');
            } else {
                passwordInput.type = 'password';
                toggleIcon.classList.remove('fa-eye-slash');
                toggleIcon.classList.add('fa-eye');
            }
        }
    </script>
}
