@model IEnumerable<ReserveSystem.Models.StaffModel>

@{
    ViewData["Title"] = "Staff List";
}

<h1>Staff Members</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Add New Staff</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>BirthDate</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Password</th>
            <th>Job</th>
            <th>Driving License Grades</th>
            <th>Driver License Expiration Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var staff in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => staff.Staff_Id)</td>
                <td>@Html.DisplayFor(modelItem => staff.Staff_Name)</td>
                <td>@staff.BirthDate.ToString("dd/MM/yyyy")</td>
                <td>@Html.DisplayFor(modelItem => staff.Staff_Email)</td>
                <td>@Html.DisplayFor(modelItem => staff.Staff_Phone)</td>
                <td>@Html.DisplayFor(modelItem => staff.Staff_Password)</td>
                <td>@Html.DisplayFor(modelItem => staff.Job.jobName)</td>
                
                
                
                <td>
                    @if (staff.DrivingLicenseGrades != null && staff.DrivingLicenseGrades.Any())
                    {
                        @string.Join(", ", staff.DrivingLicenseGrades)
                    }
                    else
                    {
                        <span>No Driving License Grades</span>
                    }
                </td>
                <td>@staff.DriverLicenseExpirationDate.ToString("dd/MM/yyyy")</td>
                <td>
                    <a asp-action="Details" asp-route-id="@staff.Staff_Id" class="btn btn-info">Details</a>
                    <a asp-action="Edit" asp-route-id="@staff.Staff_Id" class="btn btn-warning">Edit</a>
                    <a asp-action="Delete" asp-route-id="@staff.Staff_Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

