@model ReserveSystem.Models.StaffModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Staff Member</h1>

<h3>Are you sure you want to delete this staff member?</h3>
<div>
    <h4>Staff Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff_Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff_Id)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff_Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff_Name)
        </dd>

       
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd class="col-sm-10">
            @Model.BirthDate.ToString("dd/MM/yyyy")
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff_Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff_Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff_Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff_Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff_Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff_Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Job_Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job_Id)
        </dd>
        
        
        @*
        <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Job.Job_Name)
        </dt>
        <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Job.Job_Name)
        </dd>
        *@
        <dt class="col-sm-2">
            Driving License Grades
        </dt>
        <dd class="col-sm-10">
            @if (Model.DrivingLicenseGrades != null && Model.DrivingLicenseGrades.Any())
            {
                foreach (var grade in Model.DrivingLicenseGrades)
                {
                    <p>@grade</p>
                }
            }
            else
            {
                <p>No grades assigned</p>
            }
        </dd>

        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DriverLicenseExpirationDate)
        </dt>
        <dd class="col-sm-10">
            @Model.DriverLicenseExpirationDate.ToString("dd/MM/yyyy")
        </dd>
    </dl>

    <!-- Formulário de exclusão -->
    <form asp-action="Delete" method="post">
        <!-- Campo oculto para o Staff_Id -->
        <input type="hidden" asp-for="Staff_Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        |
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </form>
</div>

