@model ReserveSystem.Models.StaffModel

@{
    ViewData["Title"] = "Details";
}

<h1>Staff Details</h1>

<div>
    <h4>Staff Model</h4>
    <hr />
    <dl class="row">
        <!-- Staff Name -->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff_Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff_Name)
        </dd>

        <!-- Staff BirthDate -->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>

        <!-- Staff Email -->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff_Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff_Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff_Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff_Phone)
        </dd>
        <!-- Staff Password -->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff_Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff_Password)
        </dd>


        <!-- Staff Job -->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Job_Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job_Id)
        </dd>

        <dt class="col-sm-2">
            Job Name
        </dt>
        
        @*
        <dd class="col-sm-10">
        @ViewBag.Jobs.FirstOrDefault(job => job.Value == Model.Job_Id.ToString())?.Text
        </dd>
        *@

        <!-- Driving License Grades -->
        <dt class="col-sm-2">
            Driving License Grades
        </dt>
        <dd class="col-sm-10">
            @if (Model.DrivingLicenseGrades != null && Model.DrivingLicenseGrades.Any())
            {
                foreach (var grade in Model.DrivingLicenseGrades)
                {
                    <p>@grade</p>
                }
            }
            else
            {
                <p>No grades assigned</p>
            }
        </dd>

        <!-- Driving License Expiration Date -->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DriverLicenseExpirationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DriverLicenseExpirationDate)
        </dd>

    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Staff_Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

