@model IEnumerable<ReserveSystem.Models.StaffModel>

@{
    ViewData["Title"] = "Staff List";
}

<h1>Staff Members</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Add New Staff</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Staff_Name)</th>
            <th>@Html.DisplayNameFor(model => model.BirthDate)</th>
            <th>@Html.DisplayNameFor(model => model.Staff_Email)</th>
            <th>@Html.DisplayNameFor(Model => Model.Staff_Phone)</th>
            <th>@Html.DisplayNameFor(model => model.Job_Id)</th>
            <th>@Html.DisplayNameFor(model => model.DrivingLicenseGrades)</th>
            <th>@Html.DisplayNameFor(model => model.DriverLicenseExpirationDate)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var staff in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => staff.Staff_Name)</td>
                <td>@staff.BirthDate.ToString("dd/MM/yyyy")</td>
                <td>@Html.DisplayFor(modelItem => staff.Staff_Email)</td>
                <th>@Html.DisplayFor(modelItem => staff.Staff_Phone)</th>
                <td>@Html.DisplayFor(modelItem => staff.Job_Id)</td>
                @*
            <td>
            @ViewBag.Jobs.FirstOrDefault(job => job.Value == staff.Job_Id.ToString())?.Text
            </td>
                *@
                
                <td>
                    @if (staff.DrivingLicenseGrades != null && staff.DrivingLicenseGrades.Any())
                    {
                        @string.Join(", ", staff.DrivingLicenseGrades)
                    }
                    else
                    {
                        <span>No Driving License Grades</span>
                    }
                </td>
                <td>@staff.DriverLicenseExpirationDate.ToString("dd/MM/yyyy")</td>
                <td>
                    <a asp-action="Details" asp-route-id="@staff.Staff_Id" class="btn btn-info">Details</a>
                    <a asp-action="Edit" asp-route-id="@staff.Staff_Id" class="btn btn-warning">Edit</a>
                    <a asp-action="Delete" asp-route-id="@staff.Staff_Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

