@model ReserveSystem.Models.Cliente

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdCliente)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(model => model.IdCliente)
        </dt>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telemovel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telemovel)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdCliente" class="btn btn-warning">Edit</a> |
    <a asp-action="Index" class="btn btn-dark">Back to List</a>
</div>
