@model ReserveSystem.Models.Equipamento

<div class="container mt-4">
    <h1>Delete Equipment</h1>
    <div>
        <h4>Are you sure you want to delete this equipment?<br></h4>
        <div class="card-body">
            <div class="row"> 
                <div class="col-md-4"> 
                    <img src="@Url.Content("~/images/equipamento/" + Model.IdEquipamento + ".jpg")" class="card-img-top img-standard-size" alt="@Model.NomeEquipamento"> 
                </div> 
                <div class="col-md-8"> 
                    <h5 class="card-title">@Model.NomeEquipamento</h5> 
                    <p class="card-text"> 
                        <strong>Id:</strong> @Model.IdEquipamento<br> 
                        <strong>Tipo:</strong> @(ViewBag.TipoEquipamentoDict != null && ViewBag.TipoEquipamentoDict.ContainsKey(Model.IdTipoEquipamento) ? ViewBag.TipoEquipamentoDict[Model.IdTipoEquipamento] : "N/A")<br> 
                        <strong>Quantidade:</strong> @Model.Quantidade 
                    </p> 
                    <form asp-action="Delete"> 
                        <input type="hidden" asp-for="IdEquipamento" /> 
                        <button type="submit" class="btn btn-danger">Delete</button> 
                        <a asp-action="Index" class="btn btn-secondary">Cancel</a> 
                    </form> 
                </div> 
            </div>
        </div>
    </div>
</div>
