@model IEnumerable<ReserveSystem.Models.Equipamento>

<!DOCTYPE html>
<html>
<head>
    <title>Lista de Equipamentos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-4">
        <h1>Lista de Equipamentos</h1>
        <div class="row">
            @foreach (var equipamento in Model)
            {
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="https://img.pccomponentes.com/articles/1051/10517903/132-jbl-flip-6-altavoz-bluetooth-30w-azul.jpg" class="card-img-top" alt="@equipamento.NomeEquipamento">
                        <div class="card-body">
                            <h5 class="card-title">@equipamento.NomeEquipamento</h5>
                            <p class="card-text">
                                <strong>Tipo:</strong> @equipamento.TipoEquipamento<br>
                                <strong>Quantidade:</strong> @equipamento.Quantidade
                            </p>
                            <a href="@Url.Action("Edit", "Equipamento", new { id = equipamento.IdEquipamento })" class="btn btn-primary">Editar</a>
                            <a href="@Url.Action("ReportIssue", "Equipamento", new { id = equipamento.IdEquipamento })" class="btn btn-warning">Reportar Avarias</a>
                            <a href="@Url.Action("Delete", "Equipamento", new { id = equipamento.IdEquipamento })" class="btn btn-danger">Excluir</a>
                            
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</body>
</html>
