@model IEnumerable<ReserveSystem.Models.Staff>

<h1>Staff Index</h1>

<p>
    <a asp-action="Create">Create New Staff</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Staff ID</th>
            <th>Job ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Days Off</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.StaffID</td>
                <td>@item.JobId</td>
                <td>@item.StaffName</td>
                <td>@item.StaffEmail</td>
                <td>@item.StaffPhone</td>
                <td>@item.StartFunctionsDate.ToShortDateString()</td>
                <td>@item.EndFunctionsDate?.ToShortDateString()</td>
                <td>@item.DaysOffVacation</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.StaffID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.StaffID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.StaffID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
